@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --cardBg: hsl(0, 0%, 100%);
  --containerBg: hsl(212, 45%, 89%);
  --cardMaxWidth: 300px;
  --darkBlue: hsl(218, 44%, 22%);
  --lightGrayTextColor: hsl(212, 45%, 89%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--containerBg);
}

.card {
  background: var(--cardBg);
  display: flex;
  flex-direction: column;
  max-width: var(--cardMaxWidth);
  padding: 1em;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2 4 4 var(--cardBg);
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 1em;
  /* font-size: 15px; */
  font-family: "Outfit", sans-serif;
  padding-bottom: 1em;
  /* border: 1px solid red; */
}

.card-body .bold-text {
  font-weight: 700;
  font-size: 1.3em;
  color: var(--darkBlue);
  line-height: 1.3em;
  padding-bottom: 0.5em;
}

.card-body .small-text {
  color: var(--lightGrayTextColor);
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}
